[submodule "submodules/tmuxinator"]
	path = submodules/tmuxinator
	url = https://github.com/tmuxinator/tmuxinator.git
[submodule "submodules/vim"]
	path = submodules/vim
	url = https://github.com/vim/vim.git
[submodule "submodules/fonts"]
	path = submodules/fonts
	url = https://github.com/powerline/fonts.git
[submodule "submodules/the_silver_searcher"]
	path = submodules/the_silver_searcher
	url = https://github.com/ggreer/the_silver_searcher.git
[submodule "submodules/vim-plug"]
	path = submodules/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "submodules/pandoc-goodies"]
	path = submodules/pandoc-goodies
	url = https://github.com/tajmone/pandoc-goodies.git
[submodule "tmux-themepack"]
	path = tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
